/*h1 { color: blue; }*/
h1 { color: #F0A050 ; }

th, td { border: dashed thick black; }

th.important { color: red; }

p.sample1 {border: double 10px #0000ff;}
p.sample2 {border: inset 10px #ff0000;}
p.sample3 {margin: 30px 30px;padding: 10px;border: medium solid #ff00ff;}
